/*
This is a separate css file for creating style on the github page 
*/

h1 {
    font-family: "Arial";
    color:blueviolet;
}

h3 {
    font-family: "Segoe Print";
	font-style: italic;
}

body {
    background-color: lavender;
    
}